body {
    z-index: 0;
    background-image: url("assets/images/backgrounds/stone.jpg");
    height:100vh;
    width:100%;
    top:0;
    left: 0;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
/* div{
    border: 1px solid black;
} */
.infoBar{
  height: 10vh;
  width: 100%;
  background-color: #2e2c2c;
  color: blanchedalmond;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* STATS */
.statsContainer{
  height: 40vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 0;
}
#playerStats{
  text-align: left;
}
#enemyStats{
  text-align: right;
}
#playerStats, #enemyStats{
  text-align: center;
  width: 80%;
  background-color: #07071bf3;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 25px 25px;
  border-left: 3px solid;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-color: whitesmoke;
}
/* HEALTHBARS */
.healthBar {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 40px;
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 0%,rgba(246,41,12,1) 59%,rgba(246,41,12,1) 59%,rgba(240,47,23,1) 88%,rgba(229,33,16,1) 93%);  
    border: 2px solid rgb(180, 12, 12);
    border-radius:10px;
    color: white;
    text-align: center;
}
.healthBar .p{
    color:white;
    z-index: 1;

}
.healthBarContainer {
    display: block;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 0;
}
/*----------SPRITES--------------*/
#enemySprite{
  transform: rotateY(180deg);
  right: 15%;
  z-index: 50;
  bottom: 0%;
}
#playerSprite{
   left: 15%;
   z-index: 60;
   bottom: -5%;
}
#enemySprite, #playerSprite{
   position: absolute;  
   height: 100%;
   width: auto;
   /* bottom: 0px; */
}

 /*  v SPRITE CONTAINERS v       */
 #playerSpriteContainer{
  float: left;
}
#enemySpriteContainer{
  float: right;
}
/*  v 2 SPRITES CONTAINED v       */
.spriteContainer{
  display: flex;
  justify-content: space-between; 
  position: relative;
  height: 35vh;;
  bottom: 0; 
  width: 100%;
}
/* EVENT CONTAINER */
.eventContainer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 25vh;
  border-top: 2px solid whitesmoke;
}
#eventTextContainer{
  overflow: scroll;
  word-break: break-all;
  margin: 1%;
  color: beige;
  margin-left: 20%;
}
#eventTextContainer p:last-child {
  color: #fbff00;
}
::-webkit-scrollbar {
  display: none;
  }
.eventButtonContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.eventButton{
  height: 5vh;
  border-radius: 15px;
  text-align: center;
  line-height: 150%;
  border: 1px solid white;
  margin-right: 3%;
}
#attackButton{
  background-color: #c00b0b;
}
#shopButton{
  background-color: #2f92e4;
}
#specialEventButton{
  background-color: #164c79;
}
/* ICONS */
.fa-swords{
  color: grey;
}
.fa-heart{
  color: red;
}
/* GRIDS */
.sixGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#playerName{
  font-size: 30px;
  text-align: center;
  align-self: center;
  width: auto;
}
.textBackground1{
  color: #eeeeee;
  font-weight: bold;
  font-size: 18px;
}
.textBackground2{
  background-color: #0a0329da;
  color: #eeeeee;
  font-weight: bold;
  font-size: 18px;
}
#enemyName{
  font-size: 30px;
  text-align: center;
}
/* VISIBILITY */
.visible{
  visibility: visible;
}
.invisible{
  visibility: hidden;
}
/* ANIMATIONS */
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  0%,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
.flashAnimation{
  animation-name: flash;
  animation-duration: 75ms;
  animation-iteration-count: 2;

}