body {
    background-image: url("assets/images/backgrounds/stone.jpg");
    height: 100%;
}
.formContainer{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: #7fb9e0e0;
    text-align: center;
    width: 25%;
    padding: 1%;
    border-radius: 5px;
}
.bottomContainer{
    display: flex;
    justify-content: space-between; 
    position: absolute;
    height: 50vh;
    bottom: 0; 
    width: 95%;
    margin-top: 5%;
}
.genderButton{
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
#maleButton, #femaleButton{
    position: absolute;  
    height: 100%;
    /* bottom: 0px; */
}
#femaleButton{
    transform: rotateY(180deg);
    right: 5%;
 }
 #maleButton{
    left: 5%;
 }
.selected{
    border: 5px solid gold;
}