#battleScreen {
    z-index: 0;
    background-color: rgb(74, 74, 74);
    height:100vh;
    width:100%;
    top:0;
    left: 0;
    position: fixed;
}

#battleButton{
    width: 100px;
    height: 45px;
    background-color: rgb(7, 154, 239);
    cursor: pointer;
    color: white;
    text-align:center;
}
.healthBar{
    height: 50px;
    background-color:rgb(217, 24, 24);
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}
#shopScreen{
    display:block;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(7, 52, 78);
    z-index: 1;
    top: 0;
    left: 0;
}
.container {
    position: relative;
    width: 500px;
    background-color: rgb(12, 12, 12);
    color: white;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    font-size:20px;
    font-weight: bold;
    margin: 25px;
    height: 40vh;
}
#playerStats, #enemyStats{
    margin-left:10px;
}
#newBattleButton{
    height:50px;
    width:100px;
    background-color:blue;
    color: white;
}